/* 全局样式表 */
html,
body,
#app {
	height: 100%;
	margin: 0;
	padding: 0;
	min-width:1366px
}

.el-breadcrumb {
	margin-bottom: 15px;
	font-size: 12px;
}

.el-card {
	box-shadow: 0 1px 1px rgb(0, 0, 0, 0.15) !important;
}

.el-table {
	margin-top: 15px;
	font-size: 12px;
}
.el-button{
	margin-bottom:15px;
}

.el-pagination {
	margin-top: 15px;
}

.el-form-item.is-success .el-input__inner,
.el-form-item.is-success .el-input__inner:focus,
.el-form-item.is-success .el-textarea__inner,
.el-form-item.is-success .el-textarea__inner:focus {
	border-color: #67C23A
}

.el-form-item.is-success .el-input-group__append .el-input__inner,
.el-form-item.is-success .el-input-group__prepend .el-input__inner {
	border-color: transparent
}

.el-form-item.is-success .el-input__validateIcon {
	color: #67C23A
}


.el-cascader-menu {
  height: 300px;
}
.el-cascader-panel .el-radio{ 
  z-index: 10;
  width: 99%; 
  height: 99%;
  position: absolute; 
  top: 10px; 
  right: -12px; 
} 
.el-cascader-panel .el-radio__input{
  visibility: hidden;  
} 
.el-cascader-panel .el-cascader-node__postfix{ 
  top: 10px; 
}

